@import "./reset.css";
@import "./darkmode.css";
@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');



body {
    font-family: 'Poppins', sans-serif;
    /*position: relative;*/
    background: url("./../images/background.jpg") no-repeat 50%;
    background-size: cover;
    color: #5671A6;
    padding: 0;
    margin: 0;
    border: none;
    height: 100vh;
    /*min-height: 720px;*/
    width: 100vw;
    /*min-width: 1280px;*/
    overflow: hidden;
}

body::before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: 0.5s;
}



/* ABOUT PAGE */
/* NAVBAR */
.navbar {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    width: 100%;
    border-bottom: 1px #6D8093 solid;
}

.logo {
    font-size: 54px;
    font-weight: 600;
    padding-left: 36px;
}

.navbar__list {
    display: flex;
    column-gap: 47px;
    font-size: 24px;
    font-weight: 600;
}

.navbar__list a {
    position: relative;
    text-decoration: none;
    transition: all 0.3s linear;
}

.navbar__list a:hover {
    color: #FFFFFF;
}

.navbar__list a::after {
    content: "";

    position: absolute;
    left: 0;
    bottom: 0;

    display: block;
    width: 0;
    height: 3px;
    background-color: #B3CBD9;
    transition: all 0.3s linear;
}

.navbar__list a:hover::after {
    width: 100%;
}

.navbar__darkmode {
    position: relative;
    display: inline-flex;
    right: 38px;
    top: 3px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 81px;
    height: 45px;
    border: 3px solid #5671A6;
    border-radius: 50px;
    transition: all 0.3s linear;
}

.switch::after {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #5671A6;
    transition: all 0.3s linear;
}

input[type="checkbox"]:checked + .switch:after {
    translate: 35px 0;
    background-color: #B3CBD9;
}

input[type="checkbox"]:checked + .switch {
    border-color: #B3CBD9;
}

input[type="checkbox"] {
    display: none;
}


/* SIDEBAR */
.wrapper {
    height: calc(100% - 90px);
    display: flex;
    flex-direction: row;
}

.sidebar {
    /*position: relative;*/
    display: inline-flex;
    padding: 50px 69px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    border-right: 1px solid #6D8093;
    min-height: 645px;
}

.profile_photo {
    display: inline-block;
    border-radius: 50%;
    border: 2px solid #5671A6;
    overflow: hidden;
    width: 250px;
    height: 250px;
}

.profile_photo img{
    width:100%;
    height:100%;
    object-fit: cover;
}

.name__job {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*gap: 1px;*/
}

.sidebar__name {
    font-size: 32px;
    font-weight: 600;
    text-align: center;
    background: linear-gradient(164deg, #5671A6 0%, #B2CAD8 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /*word-wrap: break-word;*/
}

.profession {
    color: #383838;
    font-size: 24px;
    font-weight: 600;
    /*word-wrap: break-word;*/
}

.short__text {
    width: 265px;
    height: 126px;
    flex-shrink: 0;
    color: #616161;
    text-align: center;
    font-family: "Bai Jamjuree", sans-serif;
    font-size: 24px;
    font-weight: 500;
}

.icons_block {
    display: flex;
    height: 50px;
    gap: 5px;
}

.icons_block a {
    display: flex;
    align-items: flex-end;
    transition: all 0.3s linear;
}

.social__icon img {
    width: 35px;
    height: 35px;
}

.icons_block a:hover{
    align-self: flex-start;
}

.contact__me {
    color: #FFFFFF;
    font-size: 24px;
    font-weight: 600;
    /*word-wrap: break-word;*/
}

.btn {
    display: inline-flex;
    width: 246px;
    padding: 10px 15px;
    background: #5671A6;
    border-radius: 100px;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.icon__mail {
    display: none;
}

.btn:hover {
    background: linear-gradient(165deg, #5671A6 0%, #B3CBD9 100%);
}

.btn:hover .icon__mail {
    display: inline-flex;
}



/* CONTENT */
.content {
    position: relative;
    display: flex;
    flex-direction: column;

    /*width: 100%;*/
    padding: 10px 75px;
}

.about__heading {
    position: relative;
    font-size: 48px;
    font-weight: 600;
    /*word-wrap: break-word;*/
}

.description {
    position: relative;
    width: 890px;
    color: #616161;
    font-size: 21px;
    font-weight: 500;
    /*word-wrap: break-word;*/
}

.activities {
    position: relative;
    display: flex;
    /*justify-content: space-between;*/
    align-items: center;
    gap: 50px;
    padding-top: 25px;
    padding-bottom: 25px;
}

.about__block {
    width: 225px;
    height: 225px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 15px;
    background: none;
    padding-left: 15px;
    transition: all 0.3s linear;
    overflow: hidden;
}

.about__block:hover {
    background: rgba(255, 255, 255, 0.50);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    color: #5671A6;
}

.about__block:hover path {
    fill: #5671A6;
}

.about__block:hover h4 {
    color: inherit;
}

.about_block__img {
    top: 21px;
}

.about_block__text {
    bottom: 11px;
    position: relative;
    color: #383838;
    font-size: 21px;
    font-weight: 500;
    /*word-wrap: break-word;*/
}

.about__block span {
    position: absolute;
    width: 39px;
    height: 39px;
    bottom: 21px;
    right: 21px;
    transition: all 0.3s linear;
}

.about__block:hover span {
    width: 185px;
    height: 185px;
    transform: rotate(-19deg);
    bottom: 0;
    right: -40px;
}

.education__work {
    position: relative;
    display: flex;
    gap: 190px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #383838;
}

.education__work_name {
    position: relative;
    display: inline-flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 5px;
}

.education__work_name:hover path{
    fill: #5671A6;
}
.education__work_name:hover h4 {
    color: #5671A6;
}

.education__work_text {
    font-size: 24px;
    font-weight: 600;
    word-wrap: break-word;
}

.qualificationBlock {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 300px;
    height: 240px;
    padding: 15px;
    border-radius: 15px;
    border: 1.5px #DBDBDB solid;
    transition: all 0.3s linear;
}

.qualificationBlock:hover {
    background: rgba(255, 255, 255, 0.50);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.qualificationBlock:hover .speciality{
    color: #5671A6;
    font-size: 30px;
    font-weight: 600;
}

.speciality {
    color: #383838;
    font-size: 21px;
    font-weight: 600;
    word-wrap: break-word;
}

.years {
    color: #616161;
    font-size: 18px;
    font-weight: 400;
    /*word-wrap: break-word;*/
}

.place {
    color: #000;
    font-size: 21px;
    font-weight: 500;
    word-wrap: break-word;
}



/*PORTFOLIO PAGE*/
.content.portfolio {
    display: inline-flex;
    padding: 42px 50px;
    align-items: center;
    width: 100%;
}

.content.portfolio h2 {
    font-size: 48px;
    font-weight: 600;
}

.content.portfolio h3 {
    color: #616161;
    font-size: 21px;
    font-weight: 500;
}

.slider-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 500px;
    width: 100%;
    margin: 40px 55px;
    /*padding: 40px 54px;*/
    /*width: 1000px;*/
}

.slider {
    position: absolute;
    right: 70px;
    left: 70px;
    /*display: flex;*/
    transition: transform 0.5s ease-in-out;
}

.slide {
    display: flex;
}

.slide img {
    width:642px;
    height: 357px;
    border-radius: 8px;
    object-fit: cover;
    padding-left: 10px;
    /*margin-left: 63px;*/
}

.slider__info {
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 63px;

}

.slider__info_btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 15px 60px;
    width: 71px;
    height: 36px;
    border-radius: 75px;
    border: 3px solid #5671A6;
    background-color: transparent;
    color: #5671A6;
    font-size: 24px;
    font-weight: 600;
}

.prev-btn,
.next-btn {
    position: absolute;
    width: 68px;
    height: 68px;
    background-color: transparent;
}

.next-btn {
    right: 0;
}

.slider h4 {
    font-size: 36px;
    font-weight: 600;
}

.slider h5 {
    color: #747474;
    font-size: 21px;
    font-weight: 500;
}

.prev-btn:hover svg,
.next-btn:hover svg{
    width: 68px;
    height: 68px;
}

.prev-btn:hover path,
.next-btn:hover path{
    fill: #5671A6;
}


/* SKILLS PAGE*/
.container {
    padding: 30px;
    /*width: 80%;*/
}

.container h4 {
    font-size: 30px;
    font-weight: 600;
}

.container h5 {
    font-size: 21px;
    font-weight: 500;
    text-align: center;
}

.skillsbox {
    display: inline-flex;
    flex-wrap: wrap;
    gap: 50px;
    max-width: 100%;
    padding-top: 10px;
    padding-bottom: 15px;
}

.skill__item {
    height: 150px;
    width: 150px;
    /*justify-items: center;*/
    display: flex;
    flex-direction: column;
    /*justify-content: center;*/
    /*align-items: center;*/
    /*overflow: auto;*/
}

.skill__item img {
    margin: auto;
    overflow: auto;
    /*background-color: transparent;*/
    /*height: 90%;*/
}

.lang_buttons {
    position: relative;
    right: 30px;
    /*display: flex;*/
    /*right: 38px;*/
    /*top: 3px;*/
}

.en_lang {
    display: flex;
}

.rus_lang {
    display: none;
}

.cats img{
    width: 400px;
    height: 400px;
}