.none {
    display: none !important;
}

* {
    position: relative;
    padding: 0;
    margin: 0;
    border: none;
    font-style: normal;
    line-height: normal;
}

ul, ul li {
    list-style: none;
}

h1, h2, h3, h4, h5, h6, p {
    position: relative;
    font-size: inherit;
    font-weight: inherit;
}

a {
    color: inherit;
    text-decoration: none;
    /* display: inline-block; */
}